config BOARD_SEMESTER_PROJECT
	select SOC_NRF54L05_CPUAPP if BOARD_SEMESTER_PROJECT_NRF54L05_CPUAPP
	select SOC_NRF54L05_CPUFLPR if \
		BOARD_SEMESTER_PROJECT_NRF54L05_CPUFLPR || \
		BOARD_SEMESTER_PROJECT_NRF54L05_CPUFLPR_XIP