/dts-v1/;
#include <nordic/nrf54l05_cpuapp.dtsi>
#include <nordic/nrf54l05_partition.dtsi>
#include "semester_project-pinctrl.dtsi"

/ {
	model = "Electronic Guided Breathing Control";
	compatible = "RokErnLin,semester-project-cpuapp","nordic,nrf54l05";

	chosen {
		zephyr,console = &uart22;
		zephyr,shell-uart = &uart22;
		zephyr,uart-mcumgr = &uart22;
		zephyr,bt-mon-uart = &uart22;
		zephyr,bt-c2h-uart = &uart22;

		zephyr,code-partition = &slot0_partition;
		zephyr,sram = &cpuapp_sram;
		zephyr,flash = &cpuapp_rram;
		zephyr,flash-controller = &rram_controller;
	};

	zephyr,user {
		pin2-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		pin3-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
		//int_6ax_1-gpios = <&gpio0 2 0>;
		//int_6ax_2-gpios = <&gpio0 3 0>;
		//int_3bx-gpios = <&gpio2 0 0>;
	};
};

&grtc {
	owned-channels = <0 1 2 3 4 5 6 7 8 9 10 11>;
	/* Channels 7-11 reserved for Zero Latency IRQs, 3-4 for FLPR */
	child-owned-channels = <3 4 7 8 9 10 11>;
	status = "okay";
};

&cpuapp_sram {
	status = "okay";
	reg = <0x20000000 DT_SIZE_K(96)>;
	ranges = <0x0 0x20000000 DT_SIZE_K(96)>;
};

&gpio1 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio2 {
    status = "okay";
};

&uart22 {
    status = "okay";
    pinctrl-0 = <&uart22_default>;
    pinctrl-1 = <&uart22_sleep>;
    pinctrl-names = "default", "sleep";
    current-speed = <115200>;
};

&spi20 {
	status = "okay";
	pinctrl-0 = <&spi20_default>;
	pinctrl-1 = <&spi20_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
};

&spi21 {
	status = "okay";
	pinctrl-0 = <&spi21_default>;
	pinctrl-1 = <&spi21_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
};

&gpiote20 {
	status = "okay";
};

&gpiote30 {
	status = "okay";
};

&i2c30 {
    status = "okay";
	compatible = "nordic,nrf-twim";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c30_default>;
    pinctrl-1 = <&i2c30_sleep>;
    pinctrl-names = "default", "sleep";
};

&clock {
	status = "okay";
};

&timer10 {
	status = "okay";
};

&radio {
	status = "okay";
};