//for NPM1300
&i2c30 {
    npm1300: pmic@6b {
        compatible = "nordic,npm1300";
        reg = <0x6b>;

        host-int-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
        pmic-int-pin = <1>;
        long-press-reset = "one-button";
        status = "okay";
    };
};